<section id="classic-order-confirmation-notice" class="w-full">
    <div class="classic-order-confirmation-notice text-start md:text-center py-4 px-2 rounded-xl">
      
      <p class="classic-order-confirmation-title mb-2">
        تأكيد استلام الطلب بنجاح
      </p>
  
      <div class="classic-order-confirmation-list flex flex-col justify-start items-start gap-3 md:flex-row md:justify-center md:items-center md:gap-8 text-sm">
  
        <!-- Notice 1 -->
        <div class="flex items-center gap-2 md:gap-1">
          <div class="classic-order-confirmation-icon flex justify-center items-center rounded-full w-8 h-8">
            <i class="fa-solid fa-shield-check"></i>
          </div>
          <span>طلبك مؤمَّن بالكامل</span>
        </div>
  
        <!-- Notice 2 -->
        <div class="flex items-center gap-2 md:gap-1">
          <div class="classic-order-confirmation-icon flex justify-center items-center rounded-full w-8 h-8">
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <span>سيتم الشحن خلال 24 ساعة</span>
        </div>
  
        <!-- Notice 3 -->
        <div class="flex items-center gap-2 md:gap-1">
          <div class="classic-order-confirmation-icon flex justify-center items-center rounded-full w-8 h-8">
            <i class="fa-solid fa-phone-volume"></i>
          </div>
          <span>سيتواصل معك أحد ممثلينا للتأكيد</span>
        </div>
  
      </div>
    </div>
  </section>
  